html {
    height: 100vh;
    width: 100vw;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    background-color: #CD853F;
}

#content-pag {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#head-pag {
    padding: 10px;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head-banner {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#banner {
    margin: 0;
    padding: 10px;
}

#head-button {
    display: flex;
    justify-content: center;
}

#clickpopup {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    background-color: #D2691E;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
}

#clickpopup:hover {
    background-color: #DEB887;
}

div#popup-content {
    height: 100%;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4A460;
}

#popup {
    height: 51%;
    width: 35%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    background-color: #DEB887;
    border-radius: 15px;
    border: 3px solid black;
}

#head-popup {
    height: 40px;
    width: 100%;
    background-color: #A0522D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 3px solid black;
}

#button-popup {
    height: 70%;
    font-size: 30px;
    background-color: #8B4513;
    text-align: center;
    border-radius: 50%;
    padding-bottom: 5px;
    border: 0;
    margin-right: 5px;
    cursor: pointer;
}

#button-popup:hover {
    background-color: #DEB887;
}

#button-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

#body-popup {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-body-popup {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#text-cupom {
    margin: 0;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
